[flake8]
exclude =
    .git/,
    .venv/,
    env/,
    venv/,
    ENV/,
    env.bak/,
    venv.bak/,
    .eggs/,
    __pycache__,
    docs/,
    data/,
    out/,
    build/,
    dist/,
    .vscode/,
    .idea/,
    src/ks33requests/schemas/s3_*.py
max-line-length = 120
max-complexity = 10

[mypy]
# allow untyped calls as a consequence of the options above
# disallow_untyped_calls=False

# allow returning Any as a consequence of the options above
# warn_return_any=False

# treat Optional per PEP 484
# strict_optional=True

# ensure all execution paths are returning
# warn_no_return=True

# lint-style cleanliness for typing needs to be disabled; returns more errors
# than the full run.
# warn_redundant_casts=False
# warn_unused_ignores=False

# The following are off by default since they're too noisy.
# Flip them on if you feel adventurous.
# disallow_untyped_defs=False
# check_untyped_defs=False
