[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ks33requests = {editable = true,path = "."}
flake8 = "*"
yapf = "*"
generateds = ">=2.32"
python-dotenv = "*"
jupyter = "*"
twine = "*"
coverage = "*"
codecov = "*"
sphinx = ">=2.0"
recommonmark = ">=0.5.0"
nbsphinx = "*"

[packages]

[requires]
